@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <img src="/Images/Spangs7833-1-1024x703.png" class="rounded" alt="...">
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="mb-4">Velkommen til Othman</h1>
            <p class="lead">
                Siden 1953 har **Othman** været synonym med flødeboller af højeste kvalitet. Med en passion for håndværk og tradition har vi skabt flødeboller, der ikke bare tilfredsstiller din søde tand, men også forkæler dine smagsløg med en unik oplevelse.
            </p>
            <p>
                Vores rejse begyndte i en lille butik, hvor kærligheden til det gode håndværk og nøje udvalgte ingredienser var i fokus. Gennem årtier har vi forfinet vores opskrifter og metoder, og i dag står vi som et stolt ikon inden for flødeboller. Hver eneste flødebolle, vi producerer, er en hyldest til vores arv og vores engagement i kvalitet.
            </p>
            <p>
                Når du vælger **Othman**, vælger du mere end en flødebolle. Du vælger en historie, der er skrevet med omhu og lidenskab. Fra vores knasende sprøde bunde og det lette, luftige skum til vores silkebløde chokoladeovertræk – hver bid er et mesterværk.
            </p>
            <p>
                I dag er vores flødeboller elsket af generationer, og vi fortsætter med at bringe glæde til enhver anledning. Uanset om det er til en særlig fest, en gave til en du holder af, eller blot en lille forkælelse i hverdagen, kan du stole på, at vores flødeboller lever op til deres ry som de bedste.
            </p>
            <p>
                Vi byder dig velkommen til vores univers af flødeboller – hvor kvalitet, smag og tradition mødes. Kom og oplev hvorfor **Othman** har været det foretrukne valg siden 1953.
            </p>
            <a href="/Privacy" class="btn btn-primary mt-3">Se vores udvalg</a>
        </div>
    </div>
</div>
