@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container my-5">
    <h1 class="text-center mb-4">Our Products</h1>
    <div class="row g-4">
        <!-- Responsive grid system -->
        <!-- Product 1 -->
        <div class="col-lg-4 col-md-6">
            <div class="card h-100">
                <img src="/Images/Spangs7833-1-1024x703.png" class="card-img-top" alt="Product 1">
                <div class="card-body text-center">
                    <h5 class="card-title">Product 1</h5>
                    <button class="btn btn-primary">Add to Basket</button>
                </div>
            </div>
        </div>
        <!-- Product 2 -->
        <div class="col-lg-4 col-md-6">
            <div class="card h-100">
                <img src="/Images/Spangs7833-1-1024x703.png" class="card-img-top" alt="Product 2">
                <div class="card-body text-center">
                    <h5 class="card-title">Product 2</h5>
                    <button class="btn btn-primary">Add to Basket</button>
                </div>
            </div>
        </div>
        <!-- Product 3 -->
        <div class="col-lg-4 col-md-6">
            <div class="card h-100">
                <img src="/Images/Spangs7833-1-1024x703.png" class="card-img-top" alt="Product 3">
                <div class="card-body text-center">
                    <h5 class="card-title">Product 3</h5>
                    <button class="btn btn-primary">Add to Basket</button>
                </div>
            </div>
        </div>
        <!-- Add more products as needed -->
    </div>
</div>